.playButton__image {
    transition: all 150ms ease-out;
    fill: black;
    width: 25px;
    height: 25px;
    margin-left: 2px;
}

.playButton {
    display: none;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: limegreen;
    transition: all 250ms ease-out;
}

.playButton:hover {
    background-color: limegreen;
}

.playButton:hover .playButton__image {
    fill: white;
}