.previous-page-button, .next-page-button {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #231b1b;
    border: 1px solid #231b1b;
}

.page-button__label {
    color: #b3b3b3;
    line-height: 35px;
    box-sizing: border-box;
}

.playlists-button, .albums-button {
    width: 120px;
    border-radius: 20px;
    background-color: #231b1b;
    border: 1px solid #231b1b;
}

.current-page-button {
    background-color: #555555;
}

.previous-page-button:hover, .next-page-button:hover {
    border-color: lime;
}