.topTrackList {
    display: flex;
    max-width: 1525px;
    height: 290px;
    margin-left: 50px;
}

.trackListItem {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
    margin-right: 20px;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    height: 270px;
    background-color: #151626;
    flex-wrap: wrap;
    justify-items: center;
    border-radius: 10px;
}

.trackListItem:hover {
    background-color: #231b1b;
}

.trackListItem__image {
    align-self: center;
    width: 175px;
    height: 175px;
    border-radius: 10px;
    grid-row: 1/2;
    grid-column: 1/2;
}

.playButton {
    align-self: center;
    grid-row: 1/2;
    grid-column: 1/2;
}

.trackListItem:hover .playButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trackListItem__name {
    text-align: center;
    color: #e2dfdf;
    align-self: stretch;
    max-width: 175px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    grid-row: 2/3;
    grid-column: 1/2;
}

