.page {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 7% 83% 10%;
}

.page-content {
    background: rgb(91, 87, 115) linear-gradient(transparent, rgba(0, 0, 0, 1));
    color: black;
}