.sidebar__playlists {
    margin-top: 12px;
    height: 60%;
}

.playlists__label {
    margin-left: 60px;
    color: #b3b3b3;
}

.playlists {
    height: 100%;
    max-height: 100%;
    width: 99%;
    color: white;
    padding: 0;
}

.playlists__playlistItem {
    margin-left: 15px;
    margin-top: 20px;
    list-style-type: none;
}

.playlist__itemLink {
    text-decoration: none;
    color: #b3b3b3;
}

.playlist__itemLink:hover {
    color: white;
}