@font-face {
    font-family: 'Inter-Light';
    src: local('Inter-Light'),
    url('/fonts/Inter-Light.ttf') format('ttf');
}

body {
    font-family: 'Inter-Light', sans-serif;
    margin: 0;
    color: white;
    height: 100%;
    width: 100%;
}