.playlist {
    display: grid;
    grid-template-rows: 2fr 1fr 4fr;
    grid-template-columns: 1fr;
}

.playlist__playlistInfo {
    grid-row: 1/2;
}

.playlist__controls {
    grid-row: 2/3;
}

.playlist__tracks {
    grid-row: 3/4;
    height: 500px;
    max-height: 500px;
}

.playlistInfo__image {
    width: 200px;
    height: 200px;
}
